[Unit]
Description=NetPoint Request Queue Worker
Documentation=https://docs.netpoint.dev/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=netpoint
Group=netpoint
WorkingDirectory=/opt/netpoint

ExecStart=/opt/netpoint/venv/bin/python3 /opt/netpoint/netpoint/manage.py rqworker high default low

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
