*.pyc
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/netpoint/project-static/node_modules
/netpoint/project-static/docs/*
!/netpoint/project-static/docs/.info
/netpoint/netpoint/configuration.py
/netpoint/netpoint/ldap_config.py
/netpoint/local/*
/netpoint/reports/*
!/netpoint/reports/__init__.py
/netpoint/scripts/*
!/netpoint/scripts/__init__.py
/netpoint/static
/venv/
/*.sh
local_requirements.txt
!upgrade.sh
fabfile.py
gunicorn.py
netpoint.log
netpoint.pid
.DS_Store
.idea
.coverage
.vscode
